

<link href="~/Content/css/one-page-wonder.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">DIP - Data In Pocket</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <a class="nav-link" href="triangle.html">Проект</a>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Контакты</a>
                    </li>
                    <a class="nav-link" data-target="#authorise" data-toggle="modal" class="material-icons button add center-block" href="#">АВТОРИЗОВАТЬСЯ</a>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead">
        <div class="overlay">
            <div class="container">
                <h1 class="display-1 text-white">DIP</h1>
                <h2 class="display-4 text-white">Data In Pocket</h2>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="https://wallpaperscraft.com/image/builder_building_helmet_tablet_79895_2560x1600.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 order-1">
                    <div class="p-5">
                        <h2 class="display-4">Для современных инженеров</h2>
                        <p>Это веб-приложение создано специально для сотрудников строительно-инженерных компаний. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="https://damassets.autodesk.net/content/dam/autodesk/www/products/autocad-mobile/fy18/overview/images/autocad-mobile-app-overview-video-1920x1080.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-5">
                        <h2 class="display-4">Весь проект на Вашем устройстве!</h2>
                        <p>Храните, структурируйте и изменяйте проектно-сметную документацию проекта прямо на планшете. Взаимодействуйте с чертежами, делайте пометки, обменивайтесь информацией с сотрудниками и много чего другого... </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="http://oboi-dlja-stola.ru/file/3257/760x0/16:9/%D0%9A%D0%B8%D0%BD%D0%BE%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%BE%D1%80.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 order-1">
                    <div class="p-5">
                        <h2 class="display-4">Проецируйте и масштабируйте!</h2>
                        <p>Проецируйте чертежи прямо на стену. Идеальный вариант для проведения планерки, когда большому количеству людей нужно обсудить мелкие детали.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; by KIVI 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <div class="modal fade" id="authorise" role="dialog">
        <div class="modal-dialog ">
            <div class="modal-content">
                <form method="POST">
                    <!-- ТУТ ФОРМОЧКА АВТОРИЗАЦИИИИИИИ!!!!!!! -->
                    <div class="modal-header cente-block">
                        <h4>Авторизация</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"> Remember me</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary pull-left" value="Авторизоваться" id="add">
                        <button type="button" class="btn btn-warning" data-dismiss="modal" data-target="#register" data-toggle="modal">Не зарегистрированы?</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="register" role="dialog">
        <div class="modal-dialog ">
            <div class="modal-content">
                <form method="POST" action="/Home/Autorize">
                    <!-- ТУТ ФОРМОЧКА АВТОРИЗАЦИИИИИИИ!!!!!!! -->
                    <div class="modal-header cente-block">
                        <h4>Регистрация</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="name">First name:</label>
                            <input type="name" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="lname">Last name:</label>
                            <input type="lname" class="form-control" id="lname">
                        </div>
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="company">Company:</label>
                            <input type="company" class="form-control" id="company">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary pull-left" value="Зарегистрироваться" id="add">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript">
 $(document).ready(function() {
 $("body").css("display", "none");
 $("body").fadeIn(800);
 });</script>

